# Virtual environment
.venv/
venv/
ENV/

# Jupyter Checkpoints & Notebooks
.ipynb_checkpoints/
*.ipynb

# Output & Generated Reports/Figures
output_analysis/

# Binary & PDF/Word/HTML Exports
*.pdf
*.docx
*.html

# OS metadata
.DS_Store
Thumbs.db
